version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "weekly"
    versioning-strategy: increase
    groups:
      bun:
        patterns:
          - "*"
    commit-message:
      prefix: "fix(deps)"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"
    commit-message:
      prefix: "fix(deps)"
      include: "scope"
